.navbar {
  padding: 10px 30px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.nav-item {
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
  padding: 5px 10px;
  border-radius: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow added */
}

.nav-item:hover {
  text-decoration: underline;
  transform: scale(1.1);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7); /* Enhanced shadow on hover */
}

.nav-item.active-link {
  color: white;
  background-color: rgb(169, 209, 255);
  font-weight: 600;
  transform: scale(1.1);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7); /* Shadow for active link */
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: rgb(154, 186, 223);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  padding-top: 50px;
}

.mobile-menu.open {
  right: 0;
}

.mobile-menu .navbar-links {
  display: flex;
  flex-direction: column;
}

.mobile-menu .navbar-links a {
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: block;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Shadow for mobile menu items */
}

.menu-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  cursor: pointer;
}